{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a class="btn btn-outline-primary btn-lg mb-4" href="{% url 'stands_detail' object.pk %}">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
            <h1 class="text-center mb-4">Formulário de Stand</h1>
            <form action="{% url 'reserva_update' object.pk %}" method="post" class="form" autocomplete="on">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block" value="Update">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}