{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container mt-4">
    <a class="btn btn-outline-primary btn-sm" href="{% url 'home' %}">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
    {% if user.is_staff %}
    <a class="btn btn-outline-primary btn-sm" href="{% url 'cria_stand' %}">
        <i class="fas fa-arrow-left"></i> Registrar Stand
    </a>
    {% endif %}
    
    <h2>Stands</h2>

    <div class=" row container my-5">
        {% for object in object_list %}
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <img src="{{ object.imagem.url }}" class="card-img-top" alt="Imagem do Stand">
                <h3 class="card-title text-primary">{{ object.localizacao }}</h3>
                <p class="card-text"><strong>cumprimento:</strong> {{ object.cumprimento }}</p>
                <p class="card-text"><strong>largura:</strong> {{ object.largura }}</p>
                {% if object.esta_reservado %}
                    <a href="#" class="btn btn-secondary btn-block">
                        Reservado
                    </a>
                {% else %}
                    <a href="{% url 'stands_detail' object.pk %}" class="btn btn-info btn-block">
                        Detalhes
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            {% comment %}
                In this block we will display every single item in a 4 columns grid
            {% endcomment %}
            {% for item in items %}
                <div class="col-lg-3">
                    {{ item.id }}). {{ item.name }}
                </div>
            {% endfor %}
        </div>
    </div>

    {% comment %}
        Render a Bootstrap 5 based pagination element with Django default's pagination
    {% endcomment %}
    <div class="row">
        <div class="col-lg-12">
            {% if page_obj.has_other_pages %}
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    Primeiro
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    Prévio
                                </a>
                            </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                            {% comment %}
                                This conditional allows us to display up to 3 pages before and after the current page
                                If you decide to remove this conditional, all the pages will be displayed

                                You can change the 3 to any number you want e.g
                                To display only 5 pagination items, change the 3 to 2 (2 before and 2 after the current page)
                            {% endcomment %}
                            {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                                {% if page_obj.number == page_number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}">
                                            {{ page_number }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    Próximo
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                    Último
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}