{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container my-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">

            <a class="btn btn-outline-primary btn-sm mb-3" href="{% url 'reservas' %}">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>

            <h3 class="card-title text-primary">{{ object.nome_empresa }}</h3>
            <p class="card-text"><strong>CNPJ:</strong> {{ object.cnpj }}</p>
            <p class="card-text"><strong>Categoria:</strong> {{ object.categoria_empresa }}</p>
            <p class="card-text"><strong>Quitado:</strong> {% if object.quitado %} Sim {% else %} Não {% endif %}</p>
            <p class="card-text"><strong>Stand:</strong> {{ object.stand }}</p>
            <p class="card-text"><strong>Valor do Stand:</strong> R$ {{ object.stand.valor|floatformat:2 }}</p>
            <a href="{% url 'reserva_delete' object.pk %}" class="btn btn-danger btn-block">
                Remover Reserva
            </a>
            <a href="{% url 'reserva_update' object.pk %}" class="btn btn-success btn-block">
                Editar Reserva
            </a>
        </div>
    </div>
</div>
{% endblock %}