{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="d-flex flex-wrap justify-content-center">

        <a href="{% url 'reservas_home' %}" class="btn btn-outline-primary btn-lg btn-block mb-4 square-btn">
            <h3>Reservas</h3>
        </a>

        <a href="{% url 'stands_home' %}" class="btn btn-outline-primary btn-lg btn-block square-btn">
            <h3>Stands</h3>
        </a>

    </div>
</div>
{% endblock %}