{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="d-flex flex-wrap justify-content-start">
        <a class="btn btn-outline-primary btn-sm mb-5" href="{% url 'home' %}">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
        <a href="{% url 'cria_reserva' %}" class="btn btn-outline-primary btn-lg btn-block mb-4 square-btn">
            <h3>Reservar</h3>
        </a>

        <a href="{% url 'reservas' %}" class="btn btn-outline-primary btn-lg btn-block square-btn">
            <h3>Ver Reservas</h3>
        </a>

    </div>
</div>

{% endblock %}