{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
        <div class="d-flex">
            <div class="b-block card mb-1 m-4 p-4">
                <h3 class="card-title">{{ object.nome_empresa }}</h3>
                <p>Categoria: {{ object.categoria_empresa }}</p>
                <p>CNPJ: {{ object.cnpj }}</p>
                <p>Quitado? {% if object.quitado %} Sim {% else %} Não {% endif %}</p>
                <p>Stand: {{ object.stand }}</p>
                <p>Valor do Stand: {{ object.stand.valor }}</p>
                <a href="{% url 'reservas_remove' object.pk %}"
                class="btn btn-primary bg-danger">
                Remover Reserva
                </a>
            </div>
        </div>
{% endblock %}