{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
        <div class="col-md-6">
            <h1>Formulário de reserva de stand</h1>
            <form action="{% url 'cria_reserva' %}" method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary" >Reservar stand</button>
                {% endbuttons %}
            </form>
        </div>
{% endblock %}