{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<table class="table table-primary table-striped">
    <thead>
        <tr>
          <th>Detalhes</th>
          <th>CNPJ</th>
          <th>Nome da empresa</th>
          <th>Categoria</th>
          <th>quitado</th>
        </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr>
        <td><a href="{% url 'detail' item.pk %}">&#128269;</a></td>
        <td>{{ item.cnpj }}</td>
        <td>{{ item.nome_empresa }}</td>
        <td>{{ item.categoria_empresa }}</td>
        <td>{{ item.quitado }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}